@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap');

:root {
    --clr-dark-green: #316868;
    --clr-dark-green-hover: #3d8282;
    --clr-dark-green-click: #499999;
    --clr-dark-rose: #CCCBE1;
    --clr-dark-rose-hover: #d5d4ebf3;
    --clr-dark-rose-click: #dad9f1;
    --clr-orange: #FF5C67;
    --clr-dark-silk: #EBE6D6;
    --clr-light-silk: #FEF9EC;
    --clr-dark-text: #787783;
    --gap-small: 5px;
    --gap-big: 10px;
    --padding-small: 20px;
    --padding-big: 30px;
    --padding-huge: 45px;
    --border-radius: 10px;
    --shdw-outside: drop-shadow(0px 0px 2.5px rgba(0, 0, 0, 0.35));
    --shdw-inside: inset 0px 0px 2px 1px rgba(0, 0, 0, 0.2);
}

body {
    margin: 0;
    background-color: var(--clr-dark-rose);
    font-family: 'Jura';
    font-weight: 800;
    font-size: larger;
}

.block {
    border: 1px solid;
    margin: 10px;
}

/* HEADING SECTION - PLAYERS AND SCORE */

.section-game-info {
    display: flex;
    justify-content: center;
    padding: var(--padding-big) 0;
    background-color: var(--clr-dark-silk);
}

.game-info {
    width: 100%;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    gap: var(--padding-huge)
}

/* HEADING SECTION - PLAYERS */

.game-info__players {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.player {
    display: flex;
    align-items: center;
    gap: var(--padding-small);
}

.player__name {
    padding: var(--gap-small);
    background-color: var(--clr-light-silk);
    padding: var(--gap-big) var(--padding-huge);
    border-radius: var(--border-radius);
    box-shadow: var(--shdw-inside);
    color: var(--clr-dark-green);
    font-weight: 900;
}

.player__symbol {
    font-size: 1.8rem;
    font-weight: 400;
    color: var(--clr-dark-text)
}

/* HEADING SECTION - SCORE */

.game-info__score {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 var(--padding-big);
}

.result {
    display: flex;
    flex-direction: column;
    gap: var(--padding-big);
    align-items: center;
    height: 8rem;
}

.result__message {
    color: var(--clr-dark-green);
    font-size: 1.5rem;
    height:2rem;
}

.result__next-round {
    font-family: 'Jura';
    font-size: 1rem;
    border: none;
    padding: var(--gap-big) var(--padding-big);
    color: white;
    background-color: var(--clr-dark-green);
    border-radius: var(--border-radius);
}

.result__next-round:hover {
    background-color: var(--clr-dark-green-hover);
}

.result__next-round:active {
    background-color: var(--clr-dark-green-click);
}

.hidden {
    display: none;
}

.score {
    font-size: 3.7rem;
    color: var(--clr-dark-text);
    width: 3rem;
}


/* GAME SECTION */

.section-game {
    display: flex;
    justify-content: center;
    padding: var(--padding-big) 0;
}

.game-background {
    background-color: var(--clr-dark-silk);
    border-radius: var(--border-radius);
    box-shadow: var(--shdw-inside);
    display: grid;
    width: 500px;
    height: 500px;
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
    align-content: center;
    gap: var(--padding-big);
    padding: var(--padding-big)
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--clr-dark-rose);
    border-radius: var(--border-radius);
    filter: var(--shdw-outside);
    color: var(--clr-orange);
    font-size: 5rem;
    font-weight: bolder;
}

.cell-enabled:hover {
    background-color: var(--clr-dark-rose-hover);
}

.cell-enabled:active {
    background-color: var(--clr-dark-rose-click);
}